
/* Sponsors Page */
.sponsor-row {
	padding: 0% 10% 0% 10%;
	text-align: center;
	max-width: 100%;
}
.sponsor-image {
	margin: 0 auto;
	padding: 20px 10px 20px 10px;
}
img.platinum {
	max-width: 100%;
	width: 700px;
}
img.gold {
	width: 450px;
}
img.silver {
	width: 300px;
}
img.bronze {
	width: 200px;
}

/* Day Of Page */
div.dayof {
	padding: 0% 15% 5% 15%;
}
div.blue-section {
	background-color: #2f306d;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background-size: contain;
}
div.pink-section {
	background-color: #921860;
}
div.green-section {
	background-color: #175140;
}

h1.dayof {
	font-family: 'Bungee Inline';
	color: #f7cbe6;
	font-size: 20px;
	text-align: center;
}
h2.dayof, h3.dayof {
	font-family: 'Bungee Inline';
	color: #d3d3df;
	font-size: 16px;
	text-align: center;
	padding: 10px;
}
h3.dayof {
	font-family: 'Lobster';
}
p.dayof {
	font-family: 'Muli';
	color: #d3d3df;
	font-size: 16px;
}
p.recruiting {
	font-family: 'Bungee Inline';
	padding-top: 15px;
}
p.time {
	color: #f7cbe6;
	margin: 0 auto;
}
button.dayof {
	background-color: #d3d3df;
	font-family: 'Muli';
	color: #921860;
	font-size: 18px;
	border: solid white 2px;
	margin: 0 auto;
	text-align: center;
}
div.access {
	margin: 0 auto;
	text-align: center;
	padding: 20px;
}
