body, html {
	height: 100%;
}
body {
	background-image: url(images/logo-transparent.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-attachment: fixed;

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}
body.home, body.team {
	background-color: #2f306d;
}
body.about, body.sponsors {
	background-color: #175140;
}
body.faq {
	background-color: #921860;
}
a {
	display: inline-block;
	margin: 0 6px 0 0;
}
a:link {
	color: white;
}
a:visited, a:hover, a:active {
	color: white;
}
.body-text {
	font-family: 'Muli', sans-serif;
	color: #d3d3df;
	font-size: 16px;
}
.header-text {
	font-family: 'Lobster';
	text-align: center;
	font-size: 38px;
	color: white;
	padding-bottom: 14px;
}
.her {
	font-family: 'Lobster';
}
.carousel-control {
	opacity: 0.3;
	min-height: 100%;
	position: fixed;
}

/* Home Page*/
.home-info {
	text-align: center;
	margin: 0 auto;
}
/*.home-info-parent {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: auto;
}
.home-info-child {
  text-align: center;
  margin: auto;
  width: 100%;
  height: 50%;
}*/
h1.home {
	font-family: 'Bungee Inline';
	font-size: 72px;
	color: white;
	letter-spacing: 1px;
	line-height: 75px;
	text-decoration: none;
	padding-bottom: 12px;
}
h3.home {
	font-family: 'Lobster';
	font-size: 24px;
	color: #ceddff;
}
h2.home {
	font-family: 'Muli';
	font-size: 24px;
	color: #ceddff;
}
h4.home {
	font-family: 'Muli';
	font-weight: bold;
	font-size: 18px;
	color: #ceddff;
}
#tagline{
	margin-top: 25px;
}
#date{
	text-align: right;
	padding-right: 20px;
}
#location{
	text-align: left;
	padding-left: 20px;
	border-left: solid #d3d3df;
}
.datelocation {
	display: inline-block;
}
#ascii1, #ascii2 {
	position: absolute;
	width: 25%;
	min-width: 200px;
	opacity: 0.8;
}
#ascii1 {
	top: 0;
	left: 0;
}
#ascii2 {
	bottom: 0;
	right: 0;
}
#apply-button {
	background-color: #ceddff;
	font-family: 'Lobster';
	color: #2f306d;
	font-size: 24px;
	margin: 10px;
	border: solid white 2px;
}

/* Social Media Section */
.fa, #social-media {
	color: #ceddff;
	text-decoration: none;
	font-size: 14px;
	margin-top: 24px;
	padding-left: 10px;
}
#email:hover, #facebook:hover, #twitter:hover, #instagram:hover, #medium:hover {
	animation: bounce 0.9s;
}
@keyframes bounce {
	0%, 30%, 60%, 90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}


/* About Page*/
div.about {
	padding: 0% 10% 5% 10%;
}
h1.about {
	font-family: 'Bungee Inline';
	font-size: 24px;
	color: #b9e5d8;
}

/* FAQ Page */
div.faq {
	padding: 0% 10% 0% 10%;
}
h1.faq {
	font-family: 'Bungee Inline';
	color: #f7cbe6;
	font-size: 20px;
}

/* Team Page */
div.team {
	padding: 0% 20% 5% 20%;
}
h2.team {
	font-family: 'Bungee Inline';
	font-size: 20px;
	color: #ceddff;
}

/* Sponsors Page */
.sponsor-row {
	padding: 0% 10% 5% 10%;
	text-align: center;
	max-width: 100%;
}
.sponsor-image {
	margin: 0 auto;
	padding: 10px;
}
img.platinum {
	max-width: 100%;
	width: 600px;
}
img.gold {
	width: 500px;
}
img.silver {
	width: 360px;
}
img.bronze {
	width: 300px;

}

